extends ../layouts/layout.pug

block content
  <div class='grid-x'>
    <div class='cell medium-4'>
      <h3 style="padding-left:10px; margin-bottom:20px">#{msg}</h3>
    </div>
    <div class='cell medium-4'>
      <a href="/prices/csv" type="button" class='info button ' style='margin-left:10px'>Export All Prices</a>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Asset</th>
        <th>Terraswap Price, UST</th>
        <th>Oracle ("Real") Price, UST</th>
        <th>Premium</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      each value in prices
        <tr>
          <td>#{value.mAsset}</td>
          <td>#{value.priceUST}</td>
          <td>#{value.oraclePriceUST}</td>
          <td>#{value.premium}</td>
          <td>#{value.created_at}</td>
        </tr>
    </tbody>
  </table>

