extends ../layouts/layout.pug
block content
  <div class=class="container-fluid">
    <div>
      <h3>#{msg}</h3>
      <p>
        <a href="/prices/csv" type="button" class="btn btn-primary" role="button">Export All Prices</a>
      </p>
    </div>
  <div id="assets">
    <input class="search" placeholder="Search asset" />
    <button class="sort btn btn-secondary btn-sm" data-sort="asset">Sort by asset</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Asset</th>
          <th scope="col">Terraswap Price, UST</th>
          <th scope="col">Oracle ("Real") Price, UST</th>
          <th scope="col">Premium</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
      <tbody class="list">
        each value in prices
          <tr>
            <td class="asset">#{value.mAsset}</td>
            <td>#{value.priceUST}</td>
            <td>#{value.oraclePriceUST}</td>
            <td class="premium">#{value.premium}</td>
            <td>#{value.created_at}</td>
          </tr>
      </tbody>
    </table>
  </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  script.
    var options = {
      valueNames: [ 'asset', 'premium' ]
    };
    var assetList = new List('assets', options);

