extends ../layouts/layout.pug

block content
  <div class='grid-x'>
    <div class='medium-6 medium-offset-2'>
      <h4> #{msg} </h4>
      <form action="/contacts" method="post" style="margin-top:36px;">
        <div class='grid-x'>
          <div class="cell medium-6">
            <label> First Name
              <input type="text" name="firstName" placeholder="John" value="#{csvContact['First Name']}"/>
            </label>
          </div>
          
          <div class="cell medium-6">
            <label> Last Name
              <input type="text" name="lastName" placeholder="Doe" value="#{csvContact['Last Name']}"/>
            </label>
          </div>

          <div class='cell medium-12'>
            <label> Address
              <input type="text" name="address" placeholder="43rd Street, Blank City, The Shire" value="#{csvContact['Address']}"/>
            </label>
          </div>

          <div class='cell medium-6'>
            <label> Cell
              <input type="text" name="phone" placeholder="55401210247" value="#{csvContact['Cell']}"/>
            </label>
          </div>

          <div class='cell medium-6'>
            <label> Contact Type
              <select name="contactType"> 
                if (csvContact['Contact Type'] == "Acquintance") 
                  <option value='Acquitance' selected>Acquintance</option>
                else 
                  <option value='Acquitance'>Acquintance</option>

                if (csvContact['Contact Type'] == "Work") 
                  <option value='Acquitance' selected>Work</option>
                else 
                  <option value='Acquitance'>Work</option>

                if (csvContact['Contact Type'] == "Friend") 
                  <option value='Acquitance' selected>Friend</option>
                else 
                  <option value='Acquitance'>Friend</option>

              </select>
            </label>
          </div>

          <div class='cell medium-6'>
            <button type="submit" class="success button expanded">Confirm</button>
          </div>
          
        </div>
      </form>
    </div>
  </div>